PORT=3000
ADMIN_PASSWORD=CambiaEstaClaveSegura
COOKIE_SECRET=CambiaEsteSecretoLargo
DATA_DIR=./data
MEDIA_DIR=./media
BOT_TIMEZONE=America/Lima
REMINDER_CHECK_MINUTES=15
HUMAN_DELAY_MIN_MS=900
HUMAN_DELAY_MAX_MS=4200
WHATSAPP_READY_TIMEOUT_MS=45000
WHATSAPP_RECONNECT_DELAY_MS=3000
